//-----LAYOUT
@import "typography";
@import "custom-variables";


//-----BOOTSTRAP

@import "./bootstrap/bootstrap.scss";


//-----BLOCKS

@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/text-block";
@import "./blocks/list";
@import "./blocks/cards";
@import "./blocks/hero";
@import "./blocks/images";
@import "./blocks/blocks";

.flex-center {
    display: flex;
    align-items: center;
  }

  .bg-violet {
      background-color: violet;
  }

.bg-blue {
    background-color: $color-blue;
    color: $color-white !important;
}

.bg-lightgrey {
    background-color: lightgrey;
}



