@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Flexim Foundation</title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="Flexim Foundation" /> -->

  	<!-- Facebook and Twitter integration -->
	<!-- <meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" /> -->

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- <link rel="shortcut icon" href="favicon.ico"> -->

	<!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet"> -->

	<!-- Animate.css -->
	<!-- <link rel="stylesheet" href="css/animate.css"> -->
	<!-- Icomoon Icon Fonts-->
	<!-- <link rel="stylesheet" href="css/icomoon.css"> -->
	<!-- Simple Line Icons -->
	<!-- <link rel="stylesheet" href="css/simple-line-icons.css"> -->
	<!-- Bootstrap  -->
	<!-- <link rel="stylesheet" href="../Content/vendor/bootstrap/scss/bootstrap.scss"> -->
	<!-- Theme style  -->
	<link rel="stylesheet" href="../Content/css/main.css">

	<!-- Modernizr JS -->
	<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

<section class="hero hero__image-home">
</section>
<!--intro -->
  <div class="container">
    <div class="row flex-center py-5">
      <div class="col-md-5 offset-md-1 text-block">
        <h1>Oprichting</h1>
        <p>De Flexim Foundation is opgericht op 3 juli 2018 in Dordrecht op initiatief van een aantal medewerkers van Flexim Netherlands.</p>
        <p>De Flexim Foundation zet zich in voor diverse kwetsbare groepen binnen en buiten de Nederlandse samenleving. Deze kwetsbare groepen worden geholpen om hun levenscondities te verbeteren en toekomstperspectief te vergroten.</p>
      </div>
      <div class="col-md-6 img-block img-block-reduce">
        <img class="logo" src="../Content/images/Tekengebied.png">
      </div>
    </div>
  </div>
<!--blue-bg -->
  <div class="bg-blue">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center text-block">
          <h1>Doelstelling</h1>
          <p>“De Flexim Foundation stelt zich ten doel de levenscondities en toekomstmogelijkheden van kwetsbare groepen (in de Nederlandse samenleving en daarbuiten) te verbeteren. De Flexim Foundation tracht dit doel te bereiken door financiële ondersteuning van en actieve bijdrage aan de uitvoering van projecten conform het gestelde doel.”</p>
        </div>
      </div>
    </div>
  </div>
<!--list -->
  <div class="container">
    <div class="row flex-center py-5">
      <div class="col-md-6 img-block">
        <img class="logo" src="../Content/images/method-image.png">
      </div>
      <div class="col-md-6">
        <h1>Dit wordt bereikt door</h1>
        <div class="list-vertical">
          <ul>
            <li>financiële middelen te werven via sponsoring en giften</li>
            <li>continuïteit te waarborgen vanuit Flexim Netherlands</li>
            <li>werkgevers te motiveren om tijd/arbeid en kennis beschikbaar te stellen door vrijwilligerswerk van hun werknemers</li>
            <li>particulieren alsmede instanties in te zetten voor het verwerven van de middelen alsmede beschikbaar stellen van arbeid</li>
            <li>medewerkers en klanten van Flexim aan te sporen zich in te zetten bij de activiteiten van de foundation</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
<!--grey-bg -->
  <div class="bg-lightgrey">
    <div class="container">
      <div class="row flex-center py-3">
        <div class="col-md-5 offset-md-1 text-block">
          <h1>Doelgroep</h1>
          <p>De doelgroep van de Flexim Foundation is een groep mensen in de samenleving die niet zelfredzaam is, eenzaam is, een lichamelijke of psychische handicap heeft of op of onder de armoedegrens leeft.</p>
        </div>
        <div class="col img-block img-block-reduce">
          <img class="logo" src="../Content/images/au2.png">
        </div>
      </div>
    </div>
  </div>
<!--board members-->
  <div class="container text-center">
    <div class="row justify-content-center pt-5">
      <div class="col-md-7">
        <h1>Bestuur</h1>
        <p>Het Dagelijks Bestuur van de stichting wordt gevormd door dhr. Q.A.J.M. Tak, voorzitter, dhr. R.G. Bruins, secretaris en mw P. Veldhuizen, penningmeester. De Bestuursleden en adviseur werken geheel onbezoldigd.
        </p>
      </div>
    </div>
    <div class="row board-members py-5">
      <div class="col">
        <img class="logo" src="../Content/images/board-member1.png">
        <h4>Rini Tak</h4>
        <p><span>Voorzitter</span></p>
        <p>Vanuit zijn passie al jarenlang betrokken bij diverse stichtingen.</p>
      </div>
      <div class="col">
        <img class="logo" src="../Content/images/board-member2.png">
        <h4>Patty van Veldhuizen</h4>
          <p><span>Penningmeester</span></p>
        <p>Als fiscalist altijd de focus op financieel beheer.</p>
      </div>
      <div class="col">
        <img class="logo" src="../Content/images/board-member3.png">
        <h4>Richard Bruins</h4>
          <p><span>Secretaris</span></p>
        <p>Als Directeur Flexim Netherlands de initiatiefnemer en direct betrokken bij diverse goede doelen.</p>
      </div>
      <div class="col">
        <img class="logo" src="../Content/images/board-member4.png">
        <h4>Célie Verstelle</h4>
          <p><span>Algemeen Bestuurslid</span></p>
        <p>Als Legal advisor en haar juridische achtergrond gedreven de juiste support te geven.</p>
      </div>
      <div class="col">
        <img class="logo" src="../Content/images/board-member5.png">
        <h4>Remko Overdam</h4>
          <p><span>Adviseur</span></p>
        <p>Als Directeur bij een ontwikkelaar als visionair betrokken bij diverse (maatschappelijke) ontwikkelingen.</p>
      </div>
    </div>
  </div>

	<!-- jQuery -->
	<!-- <script src="js/jquery.min.js"></script> -->
	<!-- jQuery Easing -->
	<!-- <script src="js/jquery.easing.1.3.js"></script> -->
	<!-- Bootstrap -->
	<!-- <script src="js/bootstrap.min.js"></script> -->
	<!-- Waypoints -->
	<!-- <script src="js/jquery.waypoints.min.js"></script> -->
	<!-- MAIN JS -->
	<!-- <script src="js/main.js"></script> -->

	</body>
</html>

