@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Flexim Foundation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Flexim Foundation" />

	<link rel="stylesheet" href="../Content/css/main.css">

	</head>
	<body>

@Html.Partial("Header")

@RenderBody()

@Html.Partial("Footer")