@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

      <header class="header">
        <div class="container">
        <nav class="navbar">
          <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
          </span>
          <ul class="main-nav" id="js-menu">
            <li>
              <a class= "" href="">Home</a>
            </li>
            <li>
              <a class= "" href="../">Nieuws</a>
            </li>
            <li>
              <a class="" href="">
                <img class="logo" src="../../Content/images/logo-white-bg.png">
              </a>
            </li>
            <li>
              <a class= "" href="">Projecten</a>
            </li>
            <li>
            <a class= "" href="">Informatie</a>
            </li>
          </ul>
        </nav>
        </div>
      </header>