<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1064" key="a86d6c31-dcda-4615-8af8-856009dd31fa" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-01-10T14:07:19" updateDate="2019-01-10T14:08:40" nodeName="Homepage" urlName="homepage" path="-1,1064" isDoc="" nodeType="1061" creatorName="Pedro" writerName="Pedro" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="true">
    <bodyText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span></p>]]></bodyText>
    <pageTitle><![CDATA[Welcome to the Boilerplate ]]></pageTitle>
    <footerText><![CDATA[Copyright Boilerplate 2059]]></footerText>
    <news id="1068" key="74551a3e-a4e3-4135-abed-48b12c7f1695" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2019-01-14T14:39:07" updateDate="2019-01-14T14:40:52" nodeName="News" urlName="news" path="-1,1064,1068" isDoc="" nodeType="1067" creatorName="Pedro" writerName="Pedro" writerID="0" template="1066" nodeTypeAlias="news" isPublished="true" />
  </homePage>
</root>