

.blocks{
    display: flex;

    .col-md-6 {
        padding: 0;
        h3 {
            padding-left: 25px;
            padding-bottom: 10px;
        }
    }

    .text-block {
        &__news {
            max-height: 305px;
            overflow: auto;
            padding: 0 25px;
            p {
                padding-right: 15px;
            }



            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px rgb(199, 199, 199);
                border-radius: 15px;
            }
            &::-webkit-scrollbar-thumb {
                background: #00A3AD;
                border-radius: 15px;
            }
            // &::after {
            //   content: '';
            //   position: absolute;
            //   left: 0;
            //   bottom: 0;
            //   width: calc( 100% - 40px );
            //   height: 45px;
            //   background: linear-gradient(
            //     rgba(255, 255, 255, 0.001),
            //     white
            //   ); /* transparent keyword is broken in Safari */
            //   pointer-events: none;
            // }
        }
    }

    .image-block {
        &__news {
            img {
                max-width: 100%;
            }
        }
    }
}



.blocks > div {
    flex: 1;
}

.blocks-wrapper:nth-child(1) > .blocks {
    flex-direction: row-reverse;
}